extends layout

block content
    h1= title
    form#formAddUser(name="adduser",method="post",action="/adduser")
        input#inputfirstName(type="text", placeholder="firstName", required, name="firstName")
        input#inputlastName(type="text",
        placeholder="lastName", required, name="lastName")
        input#inputUserEmail(type="email", placeholder="userEmail", required, name="userEmail")
        button#btnSubmit(type="submit") submit
